.chores{
<<<<<<< HEAD
    color:red;
    font-size: 20px;
    font-style: italic;
}
h3{
    text-decoration: underline;

=======
    font-family: cursive;
    color: darkred;
    font-style: italic;

}

h3{
    text-decoration: underline;
>>>>>>> 914d2845a7228e9a148af14f8c5499b8a78bc697
}